:root{
    --Prime-color: rgb(61, 62, 66);
    --side-color: rgb(241 125 96);
    --section-background: rgb(217 218 204);
    --heading-color: rgb(30 33 53);
}
/* nav bar section */
.navbar {
    background-color: var(--Prime-color) !important;

}
.navbar .nav-link, .navbar-brand {
    color: white !important;
}

.navbar-nav .nav-link {
    position: relative;
    
}


.navbar-nav .nav-link:hover {
    color: var(--side-color) !important ; /* Color on hover */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--side-color); /* Underline color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%; 
}


.btn
{
    background-color: var(--side-color) !important;
    color: white !important;
    
}

#about{
    background-color: var(--section-background);    
}
#contact{
    background-color: var(--section-background);    
}
#projects{
    background-color: rgb(189 185 174);    
}
.pic{
    border-color: var(--Prime-color) !important; 
}


#projects img{
    max-width: 100%;
    min-height: 300px !important;
    max-height: 500px !important;
}
.project-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.card:hover .project-description {
    max-height: 250px;
}

footer{
    background-color: var(--Prime-color);
    
}
